@* <div class="d-flex"> *@
@*     <MudAutocomplete T="Mamey.ISO.Abstractions.ICountryPhoneCode" Label="Country Code"  SelectValueOnTab="true" *@
@*                      Margin="@Margin.Dense" Dense="@true" CoerceText="true" *@
@*                      Variant="Variant.Outlined" Style="width: auto;" Required="true" ValueChanged="CountryCodeChanged"> *@
@*         <ItemTemplate Context="e"> *@
@*             <MudText> *@
@*                 @($"{e.CountryCode} ({e.Name} (+{e.PhoneCode})") *@
@*             </MudText> *@
@*         </ItemTemplate> *@
@*     </MudAutocomplete> *@
@*     <MudTextField T="string" Label="Number" @bind-Value="Phone.Number" MaxLength="15" Required="true" InputType="InputType.Text"></MudTextField> *@
@*     <MudTextField T="string" Label="Extension" @bind-Value="Phone.Extension" InputType="InputType.Text"></MudTextField> *@
@* </div> *@
@* @code { *@
@*     //SearchFunc="@Search"  *@
@* } *@
@* *@
