/*.notification-popover {*/
/*    max-height: 400px;*/
/*    width: 350px;*/
/*    overflow-y: auto;*/
/*    opacity: 0;*/
/*    transform: translateY(-10px);*/
/*    transition: opacity 0.3s ease, transform 0.3s ease;*/
/*}*/

/*.notification-popover.open {*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*}*/

/*.notification-item {*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.notification-content {*/
/*    margin-left: 10px;*/
/*}*/

/*.notification-title {*/
/*    font-weight: bold;*/
/*}*/

/*.notification-description {*/
/*    font-size: 0.9em;*/
/*    color: #666;*/
/*}*/

/*.notification-time {*/
/*    font-size: 0.8em;*/
/*    color: #aaa;*/
/*}*/

/*.mt-2 {*/
/*    margin-top: 16px;*/
/*}*/
