/* Center login grid and text */
.account-login .mud-text {
    margin-bottom: 1rem;
}
/* Responsive Layout */
@media (max-width: 600px){
    .account-login .mud-grid {
        flex-direction: column;
    }
}