@using Mamey.Government.Modules.Notifications.Core.Templates.Models;
@model EmployeeWelcomeDto

<!DOCTYPE html>
<html>
<head>
    <style>
        .header-content {
            background: url('cid:header');
            padding: 5px;
            margin: 5px;
            text-align: center;
            font-size: 2em;
            color: #464646;
        }

        
    </style>
</head>
<body>
    <div class="header-content">
        <p>Welcome to Mamey BDET</p>
    </div>
    <div>
        Welcome @Model.Name.ShortFullName!

        You can create the password for your account through the link below:

        <a href="@Model.CreatePasswordLink" alt="Create your account password">Create your account password.</a>
    </div>
</body>
</html>