{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "api-gateway.fullname" . }}
  annotations:
    # Add your ingress controller-specific annotations here if needed.
spec:
  rules:
  - host: {{ .Values.ingress.hostname }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "api-gateway.fullname" . }}
            port:
              number: {{ .Values.service.port }}
{{- end }}
