apiVersion: v1
kind: Service
metadata:
  name: {{ include "infra.fullname" . }}-postgres
  labels:
    app: postgres
spec:
  ports:
  - port: {{ .Values.postgres.port }}
    targetPort: {{ .Values.postgres.port }}
  clusterIP: None
  selector:
    app: postgres
