apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "infra.fullname" . }}-redis
  labels:
    app: redis
spec:
  replicas: {{ .Values.redis.replicaCount }}
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: "{{ .Values.redis.image }}"
        imagePullPolicy: {{ $.Values.global.imagePullPolicy }}
        ports:
        - containerPort: {{ .Values.redis.port }}
        volumeMounts:
        - name: redis-data
          mountPath: /data
        livenessProbe:
          tcpSocket:
            port: {{ .Values.redis.port }}
          initialDelaySeconds: 20
          periodSeconds: 20
        readinessProbe:
          tcpSocket:
            port: {{ .Values.redis.port }}
          initialDelaySeconds: 10
          periodSeconds: 10
        resources:
          limits:
            cpu: "300m"
            memory: "256Mi"
          requests:
            cpu: "150m"
            memory: "128Mi"
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pvc
