{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "internal-api-gateway.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.ingress.whitelist }}"
spec:
  rules:
  - host: {{ .Values.ingress.hostname }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "internal-api-gateway.fullname" . }}
            port:
              number: {{ .Values.service.port }}
{{- end }}
