<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Host machine feed (used by Docker builds on macOS/Windows). -->
    <add key="mamey-host" value="http://host.docker.internal:4000/v3/index.json" allowInsecureConnections="true" />
    <!-- Local feed (used by host restores). -->
    <add key="mamey-local" value="http://localhost:4000/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
</configuration>


