:host {
    --background-color: #f1f1f1;
    --hover-color: rgb(102, 40, 245);
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

nav {
    background: var(--background-color);
    box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
}

.main_menu ul li a {
    font-size: 16px;
    color: #353535;
    padding: 20px 25px;
    display: block;
    font-weight: 400;
}

.main_menu ul li .active,
.main_menu ul li:hover > a {
    color: var(--hover-color);
}

/* Submenu styling */
.sub_menu {
    background: #fff;
    box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
    transition: 0.5s;
}
