<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="inkg-nuget" value="https://pkgs.dev.azure.com/INKG/_packaging/inkg-nuget/nuget/v3/index.json" />
    <add key="FBDETB" value="https://pkgs.dev.azure.com/SACBank/FBDETBank/_packaging/FBDETB/nuget/v3/index.json" /> -->
  </packageSources>
</configuration>