@model Mamey.FWID.Notifications.Application.Templates.Models.CredentialIssuedDto
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Credential Issued</title>
</head>
<body>
    <h1>Credential Issued</h1>
    <p>Hello @Model.Name.FirstName @Model.Name.LastName,</p>
    <p>A new credential has been issued to you:</p>
    <p><strong>@Model.CredentialType</strong></p>
    <p>You can now use this credential for identity verification.</p>
</body>
</html>







