@model Mamey.FWID.Notifications.Application.Templates.Models.WelcomeDto
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to FutureWampumID</title>
</head>
<body>
    <h1>Welcome @Model.Name.FirstName @Model.Name.LastName!</h1>
    <p>Thank you for registering with FutureWampumID. Your identity has been created successfully.</p>
    <p>Verification Token: @Model.VerificationToken</p>
    <p>Please complete the verification process to activate your account.</p>
</body>
</html>







