version: '3.7'

services:
  consul:
    image: consul
    container_name: consul
    restart: unless-stopped
    networks:
      - corpsolutionsllc
    ports:
      - 8500:8500
    volumes:
      - consul:/consul/data
  fabio:
    image: fabiolb/fabio
    container_name: fabio
    restart: unless-stopped
    environment:
    - FABIO_REGISTRY_CONSUL_ADDR=consul:8500
    networks:
      - corpsolutionsllc
    ports:
    - 9998:9998
    - 9999:9999

  # grafana:
  #   image: grafana/grafana
  #   container_name: grafana
  #   restart: unless-stopped
  #   networks:
  #     - corpsolutionsllc
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - grafana:/var/lib/grafana
  # jaeger:
  #   image: jaegertracing/all-in-one
  #   container_name: jaeger
  #   restart: unless-stopped
  #   networks:
  #     - corpsolutionsllc
  #   ports:
  #     - 5775:5775/udp
  #     - 5778:5778
  #     - 6831:6831/udp
  #     - 6832:6832/udp
  #     - 9411:9411
  #     - 14268:14268
  #     - 16686:16686
  mongo:
    image: mongo
    container_name: mongo
    restart: unless-stopped
    env_file:
      - .env
    environment:
       - MONGO_INITDB_ROOT_USERNAME=root
       - MONGO_INITDB_ROOT_PASSWORD=secret
    networks:
      - corpsolutionsllc
    ports:
      - 27017:27017
    volumes:
      - mongo:/data/db
  prometheus:
    build: ./prometheus
    container_name: prometheus
    restart: unless-stopped
    networks:
      - corpsolutionsllc
    ports:
      - 9090:9090
    volumes:
      - prometheus:/prometheus

  # rabbitmq:
  #   build: ./rabbitmq
  #   container_name: rabbitmq
  #   restart: unless-stopped
  #   # env_file:
  #   #   - ./.env
  #   # environment:
  #   #   - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
  #   #   - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
  #   networks:
  #     - corpsolutionsllc
  #   ports:
  #     - 5672:5672
  #     - 15672:15672
  #     - 15692:15692
  #   volumes: 
  #     - rabbitmq:/var/lib/rabbitmq
  redis:
    image: redis
    container_name: redis
    restart: unless-stopped
    networks:
      - corpsolutionsllc
    ports:
      - 6379:6379
    volumes: 
      - redis:/data

  seq:
    image: datalust/seq 
    container_name: seq
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
    networks:
      - corpsolutionsllc
    ports:
      - 5341:80
    volumes: 
      - seq:/data
      
  vault:
    image: vault
    container_name: vault
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - VAULT_ADDR=http://127.0.0.1:8200
      - VAULT_DEV_ROOT_TOKEN_ID=${VAULT_ROOT_TOKEN}
      # - VAULT_LOCAL_CONFIG={"backend":{"consul":{"address":"127.0.0.1:8500","advertise_addr":"http://127.0.0.1", "path":"vault/"}},"listener":{"tcp":{"address":"127.0.0.1:8200","tls_disable":1}}, "ui":true}
    cap_add:
      - IPC_LOCK
    networks:
      - corpsolutionsllc
    ports:
      - 8200:8200

networks:
  corpsolutionsllc:
    name: corpsolutionsllc

volumes:
  consul:
    driver: local
  grafana:
    driver: local
  mongo:
    driver: local
  prometheus:
    driver: local
  rabbitmq:
    driver: local
  redis:
    driver: local
  seq:
    driver: local
