openapi: 3.0.3
info:
  title: "Ierahkwa \u2014 AI Model Server API"
  description: >
    AI Model Server for the Ierahkwa platform. Serves ONNX model manifests,
    binary model files, and tokenizer configurations for on-device sovereign AI inference.
  version: 3.3.0
  x-api-version: "1.0.0"
  contact:
    name: Ierahkwa Platform Team
    url: https://docs.ierahkwa.io

servers:
  - url: https://ai.ierahkwa.org
    description: Production
  - url: http://localhost:5050
    description: Local — ai-model-server

tags:
  - name: health
    description: Health check and service status
  - name: models
    description: AI model manifests, downloads, and tokenizer retrieval

security:
  - bearerAuth: []

paths:
  /health:
    get:
      tags: [health]
      summary: Health check
      security: []
      operationId: getHealth
      responses:
        '200':
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /stats:
    get:
      tags: [health]
      summary: Service statistics
      operationId: getStats
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelsAvailable:
                    type: integer
                    example: 7
                  totalSizeBytes:
                    type: integer
                    format: int64
                    example: 220160000
                  downloads:
                    type: integer
                    format: int64
                    example: 0
                  requestsServed:
                    type: integer
                    format: int64
                    example: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /ai/models:
    get:
      tags: [models]
      summary: List all available AI models
      operationId: listModels
      responses:
        '200':
          description: Array of model manifests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /ai/models/{id}/manifest:
    get:
      tags: [models]
      summary: Get model manifest metadata
      operationId: getModelManifest
      parameters:
        - $ref: '#/components/parameters/ModelIdParam'
      responses:
        '200':
          description: Model manifest
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelManifest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Model not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /ai/models/{id}/download:
    get:
      tags: [models]
      summary: Download ONNX model binary
      operationId: downloadModel
      parameters:
        - $ref: '#/components/parameters/ModelIdParam'
      responses:
        '200':
          description: ONNX model binary file
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Model not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /ai/models/{id}/tokenizer:
    get:
      tags: [models]
      summary: Get tokenizer configuration JSON
      operationId: getTokenizer
      parameters:
        - $ref: '#/components/parameters/ModelIdParam'
      responses:
        '200':
          description: Tokenizer JSON configuration
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                type: object
                description: Tokenizer vocabulary and configuration
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Model or tokenizer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    ModelIdParam:
      name: id
      in: path
      required: true
      description: Model identifier (e.g. sentiment-es, classify-multi, translate-es-en)
      schema:
        type: string
        enum:
          - sentiment-es
          - classify-multi
          - translate-es-en
          - translate-en-es
          - image-classify
          - ner-multi
          - embed-mini
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        service:
          type: string
          example: ai-model-server
        version:
          type: string
          example: "1.0.0"
        timestamp:
          type: string
          format: date-time
        uptime:
          type: number
          description: Uptime in seconds
    ModelManifest:
      type: object
      required: [id, name, version, file, size, sha256, type, task]
      properties:
        id:
          type: string
          example: sentiment-es
        name:
          type: string
          example: "Sentiment Analysis (ES/EN)"
        version:
          type: string
          example: "1.0.0"
        file:
          type: string
          example: sentiment-multilingual-minilm.onnx
        size:
          type: integer
          format: int64
          example: 25600000
          description: File size in bytes
        sha256:
          type: string
          example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
        type:
          type: string
          enum: [text, translate, image]
          example: text
        task:
          type: string
          enum: [sentiment, classification, translation, ner, embedding]
          example: sentiment
        tokenizer:
          type: string
          nullable: true
          example: sentiment-tokenizer.json
    ModelList:
      type: array
      items:
        $ref: '#/components/schemas/ModelManifest'
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
  headers:
    X-RateLimit-Limit:
      description: Maximum requests per window
      schema:
        type: integer
        example: 100
    X-RateLimit-Remaining:
      description: Remaining requests in window
      schema:
        type: integer
        example: 95
    X-RateLimit-Reset:
      description: Seconds until rate limit resets
      schema:
        type: integer
        example: 30
    X-Request-Id:
      description: Unique request correlation ID
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"
  responses:
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
