/* Raffle Card Hover Effect */
.raffle-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.mud-elevation-1 {
    border-radius: 10px;
    overflow: hidden;
}
